/*-------Header---------*/

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: 100%;
    height: 2200px;
}
header {
    display: flex;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    text-decoration: underline;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    color: seashell;
    margin-left: 10px;
    height: 50px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
a {
    color: seashell;
}
span {
    padding: 0px 10px;
}
h4 {
    margin: 10px;
}

/* --------end of header--------*/
.top-section-content {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/*----------Controlls the Our Mission section--------*/

.top-section {
    background-image: url("/Users/trevorwoodard/Desktop/Tea-Cozy/resources/pics/img-mission-background.jpg");
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
    text-align: center;
}
.mission {
    padding-top: 250px;
    align-items: center;
}
.mission-content {
    background: black;
}
/*----End of Our Mission Section----*/
/*----Start of section Tea of the Month---*/

.tea-content h4 {
    margin-bottom: 20px;
}
/*----end of section---*/
/*----Start of third section----*/

.third-section {
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
}
.third-content img {
    height: 200px;
    margin: 0px 20px;
}
/*----End of Third Section----*/
/*----Start of Fourth section----*/

.fourth-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    padding-top: 40px;
}
.fourth-content img {
    height: 200px;
    margin: 0px 20px;
}
/*----End of Fourth Section-----*/
/*----Start of locations section----*/
.locations-section {
    width: 1200px;
    height: 575px;
    margin-top: 100px;
    margin-left: 80px;
    background-image: url("/Users/trevorwoodard/Desktop/Tea-Cozy/resources/pics/img-locations-background.jpg");
}
.loctions-content {
    height: 575px;
    margin-left: 30px;
}
.locations-title {
    width: 1200px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.locations-title h3 {
    margin: 0px;
}
/*----End of Locations Section-----*/